body{
    background: #ccc;
}
.container{
    width: 965px;
    background: white;
    margin: auto;
}
.top{
    margin:30px;
}
.menu{
    float:right;
}
.menu li{
    display:inline-block;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
.menu a:hover{
    background: blue;
    color: white;
}
.col{
    width: 265px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 20px
}
.row{
    text-align: center;
}
.col h2{
    color:blue;
}
footer{
    overflow:hidden;
    color: black;
    text-decoration: none;
}
footer span{
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}