*{
    magin: 0px;
    padding: 0px;
}
body{
    background-color: #DDD;
}

#contenedor{
    width: 960px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
header{
    display: block;
    background-color: #FFF5CC;
    height: 80px;
}
header h1{
    margin: 20px;
}
header #logo{
    width: 400px;
    float: left;
}

header #buscador{
    float: right;
}

#buscador form{
    margin:20px;
}
nav{
    background-color: maroon;
    text-align: center;
    clear: both;
}
nav li{
    display: inline-block;
    padding: 10px;
}
nav li a{
    color:rgb(157, 255, 0);
}
article{
    height: 170px;
    clear: both;
}
article img{
    margin: 10px;
    float: left;
}
article p{
    margin:10px 20px;
}
.leermas{
    text-align: right;
}
footer{
    clear: both;
}
footer{
    background-color:black;
}

footer p{
    margin: 10px;
    color: white;
}